<div class="container">
    <div class="page">
        <div class="page-inner">
            <% @result.each do |key,value| %>
            <% pname = nil %>
            <div class="events-day weekend" data-absdate="<%= key.strftime('%Y-%m-%d') %>">
                <h4 class="events-day-title">
                    <span class="date"><%= key.strftime('%-m/%-d') %></span>
                    <span class="day"><%= key.strftime('%A') %></span>
                </h4>
                <div class="events-day-content">
                    <% value.each do |event| %>
                    <div class="events-ancestor" data-ancestor-guid="<%= event.project.id %>">
                    <% if event.project.name != pname %>
                        <h5 class="events-ancestor-title">
                            <a href="#" target="_blank" title="<%= event.project.name %>"><%= event.project.name %></a>
                        </h5>
                        <% pname = event.project.name %>
                    <% end %>
                        <div class="event event-xxxx" id="event-<%= event.id %>" guid="<%= event.id %>">
                            <a href="#" class="from" target="_blank"><img alt="<%= event.username %>" class="avatar" src="https://tower.im/assets/default_avatars/waves.jpg"></a>
                            <div class="event-main">
                                <div class="event-head">
                                    <a class="event-created-at" data-created-at="<%= event.created_at %>" href="#"><%= event.created_at.strftime('%k:%S') %></a>
                                    <span class="event-actor">
                                        <a href="#" class="link-member" target="_blank"><%= event.username %></a>
                                    </span>
                                    <span class="event-action">
                                        <%= event.to_action %>
                                    </span>
                                    <span class="event-text">
                                        <a href="#" class="todo-rest" data-stack="true"><%= event.title %></a>
                                    </span>
                                </div>
                                <% if event.content %>
                                <div class="event-body">
                                    <a href="#" class="event-text" data-stack="true" title="test"><%= event.content %></a>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
            <% end %>
            <% if @load_more %>
            <a href="javascript:;" id="btn-load-more">加载更多内容</a>
            <% end %>
        </div>
    </div>
</div>

<script type="text/html" id="tpl-events-day">
	<div class="events-day" data-absdate="{{ absdate }}">
		<h4 class="events-day-title">
            <span class="date">{{ date }}</span>
            <span class="day">{{ day }}</span>
        </h4>
		<div class="events-day-content">
		</div>
	</div>
</script>

<script type="text/html" id="tpl-events-event">
    <div class="events-ancestor" data-ancestor-guid="{{ project.id }}">
        <h5 class="events-ancestor-title">
            <a href="{{ url }}" target="_blank" title="{{ project.name }}">{{ project.name }}</a>
        </h5>
        <div class="event event-comment" id="event-{{ id }}" guid="{{ id }}">
            <a href="#" class="from" target="_blank"><img alt="{{ username }}" class="avatar" src="https://tower.im/assets/default_avatars/waves.jpg"></a>
            <div class="event-main">
                <div class="event-head">
                    <a class="event-created-at" data-created-at="{{ time }}" href="#">{{ time }}</a>
                    <span class="event-actor">
                        <a href="#" class="link-member" target="_blank">{{ username }}</a>
                    </span>
                    <span class="event-action">
                        {{ to_action }}
                    </span>
                    <span class="event-text">
                        <a href="#" class="todo-rest" data-stack="true">{{ title }}</a>
                    </span>
                </div>
                {{ if content }}
                <div class="event-body">
                    <a href="#" class="event-text" data-stack="true" title="test">{{ content }}</a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</script>
